@import "normalize.less";
@import "main.less";
@import	"grid.less";
@import	"fonts.less";
@import	"mixins.less";
@import	"buttons.less";
@import	"font-awesome.less";

//==== CUSTOM SELECT =====================================
/*
	<!-- HTML STRUCTURE -->
	<div class="custom-select">
		<p data-value="[data-value]">[Default value] <i class="icon-sort"></i></p>
		<ul>
			<li data-value="[data-value]">[data-text]</li>
		</ul>
	<div><!-- END .custom-select -->
*/
.custom-select{
	display: inline-block;
	position: relative;
	width: 122px;
	
	p{
		color:#565656 !important;
		cursor: pointer;
		display: inline-block;
		font-family: 'museo_sans_rounded_300regular' !important;
		.font-size(14) !important;
		margin: 0 !important;
		padding: 15px;	
		.rounded(4px);
		.vertical(#f3f5f7, #dbe1e7);
		
		i{
			display: inline-block;
			float: right;
			margin-left: 10px;
		}
	}
	ul{
		background-color: #fff;
		border: 1px solid #d1dde8;
		display: none;
		height: 150px;
		overflow-y: scroll;
		position: absolute;
		top:44px;
		width: 98%;
		z-index: 99;
		
		
		li{
			color:#565656;
			cursor: pointer;
			font-family: 'museo_sans_rounded_100regular' !important;
			.font-size(12) !important;
			padding: 3px 10px;
		}
		li:hover{
			background-color: #e7ebef;
		}
	}
}
//==== END CUSTOM SELECT =================================

//==== ANIMATIONS ========================================

/*==============================================
fadeIn
==============================================*/
.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}
@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}
@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}

/*==============================================
bigEntrance
==============================================*/
.bigEntrance{
	animation-name: bigEntrance;
	-webkit-animation-name: bigEntrance;	

	animation-duration: 1.6s;	
	-webkit-animation-duration: 1.6s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	visibility: visible !important;			
}
@keyframes bigEntrance {
	0% {
		transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);		
		opacity: 1;
	}
	45% {
		transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	75% {
		transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	100% {
		transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}		
}
@-webkit-keyframes bigEntrance {
	0% {
		-webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		-webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);		
		opacity: 1;
	}
	45% {
		-webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		-webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	75% {
		-webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		-webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	100% {
		-webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}				
}


/*==============================================
slideRight
==============================================*/
.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}
@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
	}	
}
@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-150%);
	}
	50%{
		-webkit-transform: translateX(8%);
	}
	65%{
		-webkit-transform: translateX(-4%);
	}
	80%{
		-webkit-transform: translateX(4%);
	}
	95%{
		-webkit-transform: translateX(-2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}

/* ==============================================
expandOpen
============================================== */
.expandOpen{
	animation-name: expandOpen;
	-webkit-animation-name: expandOpen;	

	animation-duration: 1.2s;	
	-webkit-animation-duration: 1.2s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	visibility: visible !important;	
}
@keyframes expandOpen {
	0% {
		transform: scale(1.8);		
	}
	50% {
		transform: scale(0.95);
	}	
	80% {
		transform: scale(1.05);
	}
	90% {
		transform: scale(0.98);
	}	
	100% {
		transform: scale(1);
	}			
}
@-webkit-keyframes expandOpen {
	0% {
		-webkit-transform: scale(1.8);		
	}
	50% {
		-webkit-transform: scale(0.95);
	}	
	80% {
		-webkit-transform: scale(1.05);
	}
	90% {
		-webkit-transform: scale(0.98);
	}	
	100% {
		-webkit-transform: scale(1);
	}					
}
//==== END CUSTOM SELECT =================================

//==== NAVIGATION ========================================
.navigation{
	background-color: #576dad;
	padding: 55px 0;
	text-align: center;
	
	ul{
		li{
			display: inline-block;
			a{
				color:#f3efed;
				font-family: 'museo_sans_rounded_500regular';
				.font-size(18);
				font-weight: 100;
				padding: 0 23px;
				text-decoration: none;
				.transition(color 0.25s);
				
				span{
					color:#4cd3d6;
					display: inline-block;
					.font-size(14);
					margin-left: 20px;
				}
			}
			a:hover{
				color:#4CD3D6;
			}
		}
	}
}
.navigation.fixed{
	padding-bottom: 33px;
	padding-top: 33px;	
	position: fixed;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 100;
	a{
		text-align: left;
	}
	ul{
		padding-top: 24px;
		li{
			a.btn{
				color:#fff;
				margin-top: -8px;
				padding: 16px 25px;
				.rounded(26px);
				-webkit-transition:all 0.2s ease-in-out;
				
				span{
					color:#576dad;
				}
			}
			a.btn:hover{
			    background: #52e5e8;
			    box-shadow: 0 0 32px #384771;
			}
		}
		#btn-nav-apply{display: inline-block;}
		#nav-thankyou{
			display: none;
			
			span{
				color:#4cd3d6;
				font-family: 'museo_sans_rounded_500regular';
				.font-size(18);
				font-weight: 100;
			}
		}
	}
}
//==== END NAVIGATION ====================================

//==== HOME ==============================================
.home{
	.section{
		padding-bottom: 65px;
		padding-top: 55px;
		
		header{
			text-align: center;
			margin-bottom: 30px;
			
			span{
				color:#4c85b9;
				display: block;
				font-family: 'museo_sans_rounded_300regular';
				.font-size(18);
				margin-bottom: 10px;
				text-shadow:1px 1px #e1f1ff;
				text-transform: uppercase;
			}
			h2{
				color: #fff;
				font-family: 'museo_sans_rounded_100regular';
				.font-size(60);
				text-shadow:1px 2px #6ca1d3;
			}
		}
	}
	#header{
		background-color: #dde9f2;
		background-image: url(../img/mapa.png);
		background-position: right top;
		background-repeat: no-repeat;
		position: relative;
		
		.container_4{	
			#we-support{
				padding-bottom: 36px;
				padding-top: 92px;
				text-align: left;
				
				img{
					display: inline-block;
					margin-bottom: 45px;
				}
				p{
					color:#2c394f;
					font-weight: normal;
				}
				p#grow{
					color:#2c394f;
					font-family: 'museo_sans_rounded_300regular';
					.font-size(20);
					margin-bottom: 25px;
				}
				p#entrepreneur{
					font-family: 'museo_sans_rounded_300regular';
					.font-size(48);
				}
				p#support{
					font-family: 'museo_sans_rounded_500regular';
					.font-size(53);
					line-height: 65px;
					text-transform: uppercase;
				}
				p#middle-east{
					font-family: 'museo_sans_rounded_300regular';
					.font-size(48);
					margin-bottom: 30px;
				}
				p#date{
					font-family: 'museo_sans_rounded_300regular';
					.font-size(16);
					margin-left: 166px;
				}
				.btn{
					padding: 12px 30px 12px;
					border-radius: 50px;
					margin-bottom: 20px;
					text-decoration: none;
					width: 75%;
					-webkit-transition:all 0.2s ease-in-out;
				}
				.btn:hover{
				    background-color: #52e5e8;
				    box-shadow: 0 0 32px #bbc5cd;
				}
			}
		}
		#video-promo{
			max-width: 260px;
			right: 200px;
			position: absolute;
			top: 330px;
			
			#video-container{
				background-color: #fff;
				border: 1px solid #fff;
				cursor: pointer;
				
				p{
					font-family: 'museo_sans_rounded_100regular';
					.font-size(16);
					line-height: 22px;
					padding: 20px;
					
					b{
						font-family: 'museo_sans_rounded_500regular';
					}
					span{
						color:#4cd3d6;
						font-family: 'museo_sans_rounded_500regular';
					}
				}
				i{
					cursor: pointer;
					.font-size(60);
					position: absolute;
					right: 42%;
					top: 46px;
				}
			}
		}
	}
	#who-we-are{
		padding-bottom: 122px;
		
		header{
			margin-bottom: 18px;
			
			span{
				color:#6288ac;
				text-shadow:1px 1px #fff;
			}
			h2{
				color:#345d83;
				text-shadow:1px 2px #fff;
			}
		}
		i{
			color:#a7acb8;
			display: block;
			.font-size(45);
		}
		h3{
			color:#a7acb8;
			font-family: 'museo_sans_rounded_100regular';
			.font-size(36);
			font-weight: 100;
			line-height: 1.5em;
		}
		p{
			color:#7f8388;
			font-family: 'museo_sans_rounded_300regular';
			.font-size(16);
			line-height: 24px;
		}
	}
	#what-we-seek{
		background-color: #a3d3ff;
		
		ul{
			display: inline-block;
			li{
				text-align: center;
				visibility: hidden;
								
				img{
					display: inline-block;
					margin-bottom: 36px;
				}
				p{
					color:#365E81;
					font-family: 'museo_sans_rounded_300regular';
					.font-size(18);
					
					b{
						font-family: 'museo_sans_rounded_700regular';
					}
				}
			}
		}
	}
	#what-you-will-get{
		background-color: #345d83;
		
		header{
			span{
				color:#82c3ff;
				text-shadow:1px 1px #284865;
			}
			h2{
				margin-bottom: 30px;
				text-shadow:1px 2px #24405a;
			}
			h5{
				color:#82c3ff;
				font-family: 'museo_sans_rounded_300regular';
				.font-size(18);
				text-shadow: 1px 1px #284865;
			}
		}
		span.step{
		  background: transparent;
		  border: 1px solid #4cd3d6;
		  
		  border-radius: 0.6em;
		  -moz-border-radius: 0.6em;
		  -webkit-border-radius: 0.6em;
		  
		  color:#4cd3d6;
		  display: inline-block;
		  font-family: 'museo_sans_rounded_100regular';
		  .font-size(15);
		  font-weight: 100;
		  line-height: 1.2em;
		  text-align: center;
		  width: 1.2em; 
		}
		ul{
			li{
				margin-bottom: 18px;
				padding-bottom: 20px;
				padding-left: 54px;
				padding-top: 20px;
				position: relative;
				
				span.step{
					left: 20px;
					position: absolute;
					top:20px;
				}
				p{
					color:#e8ebf1;
					font-family: 'museo_sans_rounded_300regular';
					.font-size(18);
					
					b{
						color:#4cd3d6;
					}
				}
			}
			li:hover,
			li.active{
				background-color: #e8ebf1;
				.rounded(5px);
				
				span.step{
					border-color: #345d83;
					color:#345d83;
				}
				p{
					color:#345d83;
					
					b{
						color:#345d83;
					}
				}
			}
		}
	}
	#the-program{
		background-color: #e6f3ff;
		background-image: url(../img/segundo-mapa.jpg);
		background-repeat: no-repeat;
		background-position: left top;
		
		header{
			margin-bottom: 80px;
			
			span{
				color:#4c85b9;
				text-shadow:1px 1px #ffffff;
			}
			h2{
				color:#345d83;
				text-shadow:1px 2px #ffffff;
			}
		}
		img{
			display: block;
			margin: 0 auto 80px;
			visibility: hidden;
		}
		
		.columns{
			li{
				header{
					margin-bottom: 0;
					text-align: left;
					
					span{
						color:#345d83;
						display: inline-block;
						font-family: 'museo_sans_rounded_500regular';
						.font-size(12);
						margin-bottom: 9px;
						text-transform: uppercase;
						text-shadow: none;
					}
					h4{
						color:#576dad;
						font-family: 'museo_sans_rounded_500regular';
						.font-size(30);
						text-shadow: none; 
					}
				}
				.description{
					margin-bottom: 20px;
					padding-top: 40px;
					
					ul{
						list-style: circle;
						margin-left: 17px;
					}
				}
				.description,p{
					color:#6b6b6b;
					font-family: 'museo_sans_rounded_300regular';
					.font-size(16);
					line-height: 24px;
				}
				
			}
		}
	}
	#our-mentors{
		padding-bottom: 91px;
		
		header{
			margin-bottom: 66px;
			span{
				color:#4c85b9;
				text-shadow:1px 1px #ffffff;
			}
			h2{
				color:#345d83;
				text-shadow:1px 2px #ffffff;
			}
		}
		ul.last-child{margin-bottom: 0;}
		ul{
			display: inline-block;
			margin-bottom: 73px;
			
			li{
				text-align: center;
				visibility: hidden;
				
				img{
					display: inline-block;
					margin-bottom: 27px;
				}
				p{
					color:#6b6b6b;
					font-family: 'museo_sans_rounded_300regular';
					.font-size(16);
					margin-left: auto;
					margin-right: auto;
					width: 210px;
				}
				p.name{
					font-family: 'museo_sans_rounded_500regular';
				}
			}
		}
		
	}
	#partners{
		background-color: #e8ebf1;
		/* padding-bottom: 0px; */
		
		header{
			margin-bottom: 52px;
			
			span{
				color:#4c85b9;
				text-shadow:1px 1px #ffffff;
			}
			h2{
				color:#345d83;
				text-shadow:1px 2px #ffffff;
			}
		}
		ul{
			text-align: center;
			li{
				display:block;
				
				a{
					display: inline-block;
					margin-right: 45px;	
					img {
					    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\' filterRes=\'800\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
					    filter: gray; /* IE6-9 */
					    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
					    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
					    -webkit-transition: all 0.5s ease;
					       -moz-transition: all 0.5s ease;
					        -ms-transition: all 0.5s ease;
					         -o-transition: all 0.5s ease;
					            transition: all 0.5s ease;
					}
					
					img:hover {
					    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\' filterRes=\'800\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
					    -webkit-filter: grayscale(0%);
					}
				}
				a:last-child{margin-right: 0;}
			}
			li:last-child{margin-bottom: 0;}
		}
	}
	#faqs{
		background-color: #4b5c66;
		
		header{
			span{
				color:#a3d3ff;
				text-shadow:1px 1px #3e4d55;
			}
			h2{
				color:#f3efed;
				text-shadow:1px 2px #344047;
			}
		}
		
		h4{
			color:#fff;
			font-family: 'museo_sans_rounded_500regular';
			.font-size(30);
			font-weight: normal;
			margin-bottom: 50px;
			text-align: center;
		}
		
		ul{
			li{
				margin-bottom: 18px;
				
				.question{
					background-color: #e8ebf1;
					border-color: 1px solid #fff;
					-moz-box-sizing:    border-box;
					-webkit-box-sizing: border-box;
					box-sizing:         border-box;
					color:#6b6b6b;
					display: inline-block;
					font-family: 'museo_sans_rounded_300regular';
					.font-size(18);
					padding: 23px 33px 20px 18px;
					position: relative;
					width: 100%;
					
					.arrow-container{
						bottom:-21px;
						min-height: 66px;
						position: absolute;
						right: 28px;
						
						.arrow-right {
							width: 0; 
							height: 0; 
							border-top: 33px solid transparent;
							border-bottom: 33px solid transparent;	
							border-left: 33px solid #4bd2d5;
							.rotate(45deg);
							position: absolute;
							top:0;
							.transition(all 1.2s);
						}
						i{
							color:#fff;
							cursor: pointer;
							left: 10px;
							.font-size(12);
							position: absolute;
							top: 27px;
						}
					}	
				}
				.answer{
					background-color: #fff;
					color:#6b6b6b;
					display: none;
					margin-bottom: 18px;
					padding: 23px 33px 15px 18px;
					
					p{
						font-family: 'museo_sans_rounded_300regular';
						.font-size(16);
						line-height: 24px;
					}
				}
			}
			li.active{

				.arrow-container{
					.arrow-right {
						border-left-color: #dbe7f3;
					}
				}
			}
			
		}
	}
}
//==== END HOME ==========================================

//==== APPLY =============================================
.apply{
	padding-top: 134px;
	.navigation{
		&.static{display:none;}
		&.fixed{
			visibility: visible;
			
			#btn-nav-apply{display: none;}
			#nav-thankyou{display: inline-block;}
		}
	}
	
	#header{
		background-image: url(../img/apply-header-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 351px;
		padding: 68px 0;
		
		#we-are-glad{
			background-color: #4bd2d5;
			.opacity(0.8);
			padding-top: 47px; 
			padding-bottom:90px;
			text-align: center;
			
			h2{
				color:#fff;
				font-family: 'museo_sans_rounded_100regular';
				.font-size(60);
				font-weight: 100;
				margin-bottom: 40px;
				padding: 0 83px;
				text-shadow:1px 1px #3b7c78;
				
			}
			p{
				color: #fff;
				font-family: 'museo_sans_rounded_300regular';
				.font-size(24);
				font-weight: 100;
				line-height: 36px;
				padding: 0 180px;
				
				b{
					color:#45578b;
				}
			}
		}
	}
	#form-container{
		background-color: #e6f3ff;
		padding-bottom: 30px;
		
		form{
			header{
				margin-bottom: 35px;
				padding-top: 36px;
				position: relative;
				
				h5{
					color: #8295a6;
					display: inline-block;
					font-family: 'museo_sans_rounded_300regular';
					.font-size(18);
					margin-right: 10px;
					text-shadow: 1px 1px #fff;
				}	
				div{
					display: inline-block;
					border-bottom: 2px solid #bbb;
					position: absolute;
					padding-top: 2px;
					top:43px;
					width: 925px;
				}
			}
			.input-container{
				margin: 0 auto 35px auto;
				padding-left: 40px;
				padding-right: 40px;
				position: relative;
				width: 581px;
				
				label,h6,p{
					color:#345d83;
					display:block;
					font-family: 'museo_sans_rounded_300regular';
					.font-size(16);
					font-weight: normal;
					margin-bottom: 17px;
				}
				label{
					display: block;
					margin-right: 15px;
				}
				p.optional{
					color:#4bd2d5;
					font-family: 'museo_sans_rounded_300regular';
					.font-size(18);
					left: -150px;	
					position: absolute;
					text-transform: uppercase;
					top:0;
				}
				p.subtitle{
					color: #345d83;
					font-family: 'museo_sans_rounded_300regular';
					.font-size(14);
				}
				span.mandatory{
					color:#cc3333;
					display: none;
					font-family: 'museo_sans_rounded_300regular';
					.font-size(14);
				}
				a.btn{
					padding-bottom: 16px;
					padding-top: 16px;
					.rounded(32px);
					text-decoration: none;
					text-shadow: 1px 1px #40b2b5;
					width: 525px;
					-webkit-transition:all 0.2s ease-in-out;
				}
				a.btn:hover{
				    background-color: #52e5e8;
				    box-shadow: 0 0 16px #384771;
				}
				.textarea-wrapper{
					position: relative;
					
					span{
						bottom:0;
						color:#e6f3ff;
						font-family: 'museo_sans_rounded_700regular';
						.font-size(48);
						position: absolute;
						right: 10px;
					}
				}
				textarea{
					border: 1px solid #d1dde8;
					color:#626262;
					font-family: 'museo_sans_rounded_300regular';
					.font-size(14);
					line-height: 20px;
					margin-top: 17px;
					.rounded(5px);
					width: 542px;
				}
				input[type="text"]{
					border: 1px solid #d1dde8;
					color:#626262;
					display: inline-block;
					font-family: 'museo_sans_rounded_300regular';
					.font-size(14);
					height: 23px;
					padding: 5px 20px;
					.rounded(5px);
					width: 542px;
				}
				.warning{
					textarea{border-color: #e9b537;}
					span{color:#e9b537;}
				}
				.exceed{
					textarea{
						border-color: #cc3333;
						color:#cc3333;
					}
					span{color:#cc3333;}
				}
				textarea{
					height: 140px;
					padding: 20px;
					resize: none;
				}
				#fileHolder{
					border:1px dashed #d1dde8;
					background-color: #fff;
					color:#8f8f8f;
					cursor: pointer;
					display: block;
					height: 105px;
					font-family: 'museo_sans_rounded_300regular';
					.font-size(16);
					padding: 35px 20px 0 20px;
					.rounded(4px);
					text-align: center;
				}
				#fileHolder.dz-drag-hover{
					background-color: #ddd;
					border:1px dashed #fff;
				}
			}
			.input-container:last-child{margin-bottom: 0;}
			.radios-wrapper{
				input[type="radio"]{
					display: none;
					margin-right: 10px;
				}
				label{
					cursor: pointer;
					display: inline-block;
					margin-right: 20px;
					padding-left: 26px;
					position: relative;
				}
				label:before {  
					border-radius: 8px;  
				    content: "";  
				    display: inline-block;  
				  
				    width: 16px;  
				    height: 16px;  
				  
				    margin-right: 10px;  
				    position: absolute;  
				    left: 0;  
				    bottombottom: 1px;  
				    background-color: #fff;  
				    border: 1px solid #d1dee9;
				    //box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);  
				} 
				input[type=radio]:checked + label:before {  
				    content: "\2022";  
				    color: #4bd2d5;  
				    font-size: 30px;  
				    text-align: center;  
				    line-height: 15px;  
				}
				
			}
			.checks-wrapper{
				.column{
					float: left;
					margin-right: 2%;
					width: 46%;
				}
				input[type="checkbox"]{
					display: none;
					margin-right: 10px;
				}
				span.mandatory{
					margin-bottom: 17px;
				}
				label{
					cursor: pointer;
					display: inline-block;
					margin-right: 20px;
					padding-left: 26px;
					position: relative;
				}
				label:before {  
					border-radius: 4px;  
				    content: "";  
				    display: inline-block;  
				  
				    width: 16px;  
				    height: 16px;  
				  
				    margin-right: 10px;  
				    position: absolute;  
				    left: 0;  
				    bottombottom: 1px;  
				    background-color: #fff;  
				    border: 1px solid #d1dee9;
				}
				input[type=checkbox]:checked + label:before {  
				    content: "\2713";  
				    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
				    font-size: 23px;  
				    color: #4bd2d5;  
				    text-align: center;  
				    line-height: 15px;  
				}
			}
			#similar-products{
				.product{
					label{
					display: inline-block;
					margin-right: 15px;
					}
					input[type="text"]:last-child{
						margin-right: 0 !important;
					}	
					input[type="text"]{
						display:inline-block;
						height: 23px;
						margin-right: 20px;
						padding: 5px 20px;
						width: 197px;
					}
				}
				
			}
			#team{
				.row{
					margin-bottom: 16px;
					
					label{
						color:#626262;
						display: inline-block;
						font-family: 'museo_sans_rounded_300regular';
						.font-size(14);
						margin-right: 10px;
						margin-bottom: 0;
					}
					input[type="text"]{
						display: inline-block;
						height: 23px;
						padding: 5px 20px;
						width: 500px;
						
						&#videoPass{width: 309px;}
					}
				}
				.row:last-child{margin-bottom: 0;}
				.alter-row{
					margin-bottom: 36px;
					
					label{
						color:#345d83;
						display: inline-block;
						font-family: 'museo_sans_rounded_300regular';
						.font-size(16);
						margin-bottom: 20px;
					}
					input{
						display: block;
						height: 23px;
						margin-top: 0;
						padding: 5px 20px;
						
						&[type="number"]{
							border: 1px solid #d1dde8;
							color:#565656;
							font-family: 'museo_sans_rounded_300regular';
							.font-size(14);
							padding: 5px 0 5px 10px;
							.rounded(8px);
							width: 35px;
						}
					}
					
				}
				.birth{
					label{
						color:#626262;
						display: block;
						font-family: 'museo_sans_rounded_300regular';
						.font-size(14);
						margin-bottom: 0;
					}
					h6{
						color:#345d83;
						.font-size(16);
					}
					select{
						color:#565656;
						display: block;
						padding: 5px;
					}
					.dates{
						display: inline-block;
						margin-right: 20px;
						
						&.day .custom-select{width: 70px;}
						&.year .custom-select{width: 100px;}
					}
					
					
				}
				.phoneFields{
					margin-bottom: 17px;
					
					input[type="text"]{
						display: inline-block;
						margin: 0;
						width: 542px;
					}
					#txtPrefix{
						margin-right: 20px;
						width: 70px;
					}
					#txtPhoneNumber{
						width: 404px;
					}
					label{
						display: block;
						margin-bottom: 0;
					}
				}
			}
		}
		p.message{
			display: none;
			font-family: 'museo_sans_rounded_300regular';
			.font-size(30);
			margin-top: 36px;
			text-align: center;
			
			&.success{color:#2ecc71;}
			&.error{color:#cc3333;}
		}
	}
}
//==== END APPLY =========================================

//==== FOOTER ============================================
//Hide the Faq Menu in the home
.home{
	#footer{
		#contact-container{
			#faq-contact{
				#faq{
					display: none;
				}
			}
		}
	}
}

#footer{
	background-color: #576dad;
	
	#whos-behind-this{
		background-color: #576dad;
		float:left;
		min-height: 100px;
		width: 331px; 
		
		h3{
			color:#82c3ff;
			font-family: 'museo_sans_rounded_100regular';
			.font-size(36);
			margin-bottom: 27px;
		}
		p{
			color:#82c3ff;
			font-family: 'museo_sans_rounded_300regular';
			.font-size(16);
			line-height: 24px;
			a{
				color:#fff;
				font-weight: normal;
				text-decoration: none;
			}
		}
	}
	#contact-container{
		background-color: #82c3ff;
		float:right;
		min-height: 100px;
		padding-bottom: 60px;
		width: 774px;
		
		#faq-contact{
			float: left;
			margin-left: 95px;
			width: 270px;
			
			h3{
				color:#345d83;
				font-family: 'museo_sans_rounded_500regular';
				.font-size(14);
				margin-bottom: 28px;
				text-transform: uppercase;
			}
			a{
				color:#fff;
				display: inline-block;
				font-family: 'museo_sans_rounded_100regular';
				.font-size(36);
				margin-bottom: 42px;
				text-decoration: none;
				
				.transition(color 0.25s);
			}
			a:hover{
				color:#4bd2d5;
			}
			a:last-child{margin-bottom: 42px;}
		}
		#last-tweet{
			margin-left: 60px;
			float:left;
			width: 345px;
			
			h3{
				color:#345d83;
				font-family: 'museo_sans_rounded_500regular';
				.font-size(14);
				margin-bottom: 28px;
				text-transform: uppercase;
			}
			p{
				color:#345d83;
				font-family: 'museo_sans_rounded_300regular';
				.font-size(16);
				line-height: 24px;
				margin-bottom: 20px;
				
				a{
					color:#fff;
					font-weight: normal;
				}
			}
			
			a.icon-stack{
				display: inline-block;
				.font-size(28);
				margin-right: 10px;
				-webkit-transition:all 0.25s ease-out;
				
				.icon-circle{
					color:#475b90;
				}
				.icon-light{
					color:#82c3ff;
				}
			}
			a.icon-stack:hover {
			  position:relative;
			  top:-8px;
			}

		}
	}
	.sectionf{
		padding-right: 25px;
		padding-top: 50px;
	}
}
//==== END FOOTER ========================================

//==== DROPZONE ==========================================
/* The MIT License */
.dropzone,
.dropzone *,
.dropzone-previews,
.dropzone-previews * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dropzone {
  position: relative;
  border: 1px solid rgba(0,0,0,0.08);
  background: rgba(0,0,0,0.02);
  padding: 1em;
}
.dropzone.dz-clickable {
  cursor: pointer;
}
.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message span {
  cursor: pointer;
}
.dropzone.dz-clickable * {
  cursor: default;
}
.dropzone .dz-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.dropzone.dz-drag-hover {
  border-color: rgba(0,0,0,0.15);
  background: rgba(0,0,0,0.04);
}
.dropzone.dz-started .dz-message {
  display: none;
}
.dropzone .dz-preview,
.dropzone-previews .dz-preview {
  background-color: transparent;
  border: 1px solid #a3d3ff;
  display: block;
  margin-bottom: 7px;
  margin-top: 7px;
  padding: 0 6px;
  position: relative;
  .rounded(4px);
  vertical-align: top;
}
.dropzone .dz-preview.dz-file-preview [data-dz-thumbnail],
.dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
  display: none;
}
.dropzone .dz-preview .dz-details,
.dropzone-previews .dz-preview .dz-details {
  position: relative;
  padding: 5px 5px 5px 50px;
}
.dropzone .dz-preview .dz-details .icon-file,
.dropzone-previews .dz-preview .dz-details .icon-file{
	color:#a3d3ff;
	.font-size(45);
	left: 5px;
	position: absolute;
	top: 3px;
}
.dropzone .dz-preview .dz-details .dz-filename,
.dropzone-previews .dz-preview .dz-details .dz-filename {
	color:#576dad;
	font-family: 'museo_sans_rounded_300regular';
	.font-size(14);
	overflow: hidden;
	height: 100%;
}
.dropzone .dz-preview .dz-details img,
.dropzone-previews .dz-preview .dz-details img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.dropzone .dz-preview .dz-details .dz-size,
.dropzone-previews .dz-preview .dz-details .dz-size {
	color:#576dad;
	font-family: 'museo_sans_rounded_300regular';
	.font-size(14);
	height: 28px;
	line-height: 28px;
	text-transform: uppercase;
}
.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone-previews .dz-preview.dz-error .dz-error-mark {
  display: block;
}
.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark {
  display: block;
}
.dropzone .dz-preview:hover .dz-details img,
.dropzone-previews .dz-preview:hover .dz-details img {
  display: none;
}
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  right: -10px;
  top: -10px;
}
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
  color: #8cc657;
}
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  color: #ee162d;
}
.dropzone .dz-preview .dz-progress,
.dropzone-previews .dz-preview .dz-progress {
  position: absolute;
  top: 100px;
  left: 6px;
  right: 6px;
  height: 6px;
  background: #d7d7d7;
  display: none;
}
.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: #8cc657;
}
.dropzone .dz-preview.dz-processing .dz-progress,
.dropzone-previews .dz-preview.dz-processing .dz-progress {
  display: block;
}
.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
  display: none;
  position: absolute;
  top: -5px;
  left: -20px;
  background: rgba(245,245,245,0.8);
  padding: 8px 10px;
  color: #800;
  min-width: 140px;
  max-width: 500px;
  z-index: 500;
}
.dropzone .dz-preview:hover.dz-error .dz-error-message,
.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  display: block;
}
.dropzone {
  border: 1px solid rgba(0,0,0,0.03);
  min-height: 360px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0,0,0,0.03);
  padding: 23px;
}
.dropzone .dz-default.dz-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 428px;
  height: 123px;
  margin-left: -214px;
  margin-top: -61.5px;
  top: 50%;
  left: 50%;
}
.dropzone .dz-default.dz-message span {
  display: none;
}
.dropzone.dz-square .dz-default.dz-message {
  background-position: 0 -123px;
  width: 268px;
  margin-left: -134px;
  height: 174px;
  margin-top: -87px;
}
.dropzone.dz-drag-hover .dz-message {
  opacity: 0.15;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
  filter: alpha(opacity=15);
}
.dropzone.dz-started .dz-message {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.dropzone .dz-preview,
.dropzone-previews .dz-preview {
  /*
-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.16);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.16);
*/
  font-size: 14px;
}
.dropzone .dz-preview.dz-image-preview:hover .dz-details img,
.dropzone-previews .dz-preview.dz-image-preview:hover .dz-details img {
  display: block;
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
}
.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone-previews .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.dropzone .dz-preview.dz-error .dz-progress .dz-upload,
.dropzone-previews .dz-preview.dz-error .dz-progress .dz-upload {
  background: #ee1e2d;
}
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark,
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  background-repeat: no-repeat;
}
.dropzone .dz-preview .dz-error-mark span,
.dropzone-previews .dz-preview .dz-error-mark span,
.dropzone .dz-preview .dz-success-mark span,
.dropzone-previews .dz-preview .dz-success-mark span {
  display: none;
}
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  background-position: -268px -123px;
}
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
  background-position: -268px -163px;
}
.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
  -webkit-animation: loading 0.4s linear infinite;
  -moz-animation: loading 0.4s linear infinite;
  -o-animation: loading 0.4s linear infinite;
  -ms-animation: loading 0.4s linear infinite;
  animation: loading 0.4s linear infinite;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-repeat: repeat-x;
  background-position: 0px -400px;
}
.dropzone .dz-preview.dz-success .dz-progress,
.dropzone-previews .dz-preview.dz-success .dz-progress {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.dropzone .dz-preview:hover.dz-error .dz-error-message,
.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.dropzone a.dz-remove,
.dropzone-previews a.dz-remove {
	color: #b3b3b3;
	display: block;
	font-family: 'museo_sans_rounded_300regular';
	.font-size(14);
	position: absolute;
	right: 15px;
	text-align: right;
	text-decoration: none;
	top:30%;
}
.dropzone a.dz-remove:hover,
.dropzone-previews a.dz-remove:hover {
  color: #666;
}
@-moz-keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}
@-webkit-keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}
@-o-keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}
@-ms-keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}
@keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}

//==== END DROPZONE ======================================